// Your custom SCSS should be written here...

.herbrew {
	text-align: right;
}


// Header
h1[role="header"]{
	font-size: $med;
	background: $primary-color;
	text-align: center;
}

h1[role="header"] a{
	display: block;
	margin: 0.6em inherit;
	color: $default-color;
}

p[role="sub-header"] {
	color: $primary-color;
	font-size: $large;
}



// Footer
.social {
	font-size: $xlarge;
	text-align: right;
}
.social a {
	color: $primary-color;
}