// Your custom SCSS should be written here...

.hebrew {
	text-align: right;
}


// Header
h1[role="header"]{
	font-size: $med;
	background: $primary-color;
	text-align: center;

	a{
		display: block;
		margin: 0.6em inherit;
		color: $default-color;
	}
}

p[role="sub-header"] {
	color: $primary-color;
	font-size: $large;
}



// Footer
.social {
	text-align: right;

	a {
		color: $primary-color;
		i {
			font-size: $xlarge;
		}
	}
}
